@model BloggingPlatform2.Models.ViewModels.AddBlogPostRequest

@{
}

<div class="container py=2">
    <h1>Add New BlogPost</h1>
</div>

<div class="container py=2">
    <form method="post" action="Add">
        <div class="mb-3">
            <label  class="form-label">Heading</label>
            <input type="text" class="form-control" id="heading" asp-for="Heading">
        </div>
        <div class="mb-3">
            <label class="form-label">PageTitle</label>
            <input type="text" class="form-control" id="pageTitle" asp-for="PageTitle">
        </div>
        <div class="mb-3">
            <label  class="form-label">Content</label>
            <textarea class="form-control" id="content" asp-for="Content"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">ShortDescription</label>
            <textarea class="form-control" id="shortDescription" asp-for="ShortDescription"></textarea>
        </div>
        <div class="mb-3">
            <label  class="form-label">FeaturedImageUrl</label>
            <input type="text" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl">
        </div>
        <div class="mb-3">
            <label class="form-label">UrlHandle</label>
            <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle">
        </div>
        <div class="mb-3">
            <label  class="form-label">PublishedDate</label>
            <input type="date" class="form-control" id="publishedDate" asp-for="PublishedDate">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Author</label>
            <input type="text" class="form-control" id="auther" asp-for="Auther">
        </div
        <div class="form-check  mb-3">
            <input class="from-check-input" type="checkbox" class="form-control" id="visible" asp-for="visible">
            <label class="form-check-label">Is visible?</label>
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>